.photo-cell img{

	border:solid blue;
	padding:5%;
	width:50%;
	display:inline-block;
	vertical-align:middle;
/*	flex-direction: row;
	align-items: flex-start;*/
/*	float:left;*/
}

.body-image{

/*	background-color:blue;*/

	background-image:url("images/sun-pattern.png");
	height:100%;
	background-size:cover;
	background-repeat: none;
}