/*Iphone 5/SE */ 

@media only screen and (min-width:320px){


footer.projects{

	position:relative;
}

footer.resume{

	position:bottom;

}

footer{

	width:100%;

}

.SI110{

	width:50px; 
	height:50px;
}

.resume{



}

}
/*Tablet devices */ 	

@media only screen and (min-width:768px){

	.body-image{

		background-size:cover;
	}


#openNav{

	display: none;
}

}

footer.projects{


	position:relative;
	bottom:50%;
}
}

@media only screen and (min-width:1200px ){

	#openNav{

	display: none;
}


}

